* {
    box-sizing: border-box;
}
.object{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 0px;
    background-color: red;
}
#background {
    position: relative;
    display: flex;
    background-color: gray;
    height: 200px;
    width: 1000px;
}
#wall {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 300px;
    margin-right: 200px;
    background-color: red;
}