* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 3em;
    background-color: blue;
    color: #fff;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
}

header .header__nav li {
    display: inline-block;
    padding: 0px 1em;
    line-height: 3em;
    font-weight: bold;
    text-transform: uppercase;
}

header .header__nav li:hover {
    background-color: rgb(16, 4, 124);
    cursor: pointer;
}

main .slider__container {
    margin-top: 3em;
    padding-top: 120%;
    background-image: url('https://scontent.fsgn12-1.fna.fbcdn.net/v/t1.6435-9/34398166_610468282631292_829635051334402048_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=9l2pGXm1IJYAX9AV6Ie&_nc_ht=scontent.fsgn12-1.fna&oh=79eece7d7cae2e63c64b478877ceab32&oe=60B166F1');
    background-repeat: no-repeat;
    background-size: cover;
}