* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 15px;
}

ul li {
    list-style: none;
}

header {
    height: 3em;
    background-color: rgb(0, 0, 218);
    color: #fff;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    display: flex;
    justify-content: space-between;
}

header .header__nav-left {
    display: inline-block;
}

header .header__nav-left li {
    display: inline-block;
    padding: 0px 1em;
    line-height: 3em;
    font-weight: bold;
    text-transform: uppercase;
}

header .header__nav-left li:hover {
    background-color: rgb(0, 0, 131);
    cursor: pointer;
}

/* BEGIN: HEADER__NAV-RIGHT */
header .header__nav-right li {
    font-weight: bold;
    line-height: 3em;
    color: #fff;
    display: inline-block;
    position: relative;
}

header .header__nav-right li:hover .form__wallet {
    display: block;
}

header .form__wallet {
    position: absolute;
    display: none;
    box-shadow: 1px 1px 10px #000;
    background-color: #fff;
    color: #000;
    top: 3em;
    left: 0px;
    line-height: 1.5;
    font-weight: 500;
    min-width: 250px;
    font-size: 13px;
}

.form__date {
    color: red;
    margin-left: 20px;
}

header .form__key-money {
    color: #000;
    padding: 0px 10px;
    display: block;
    color: red;
    text-align: center;
    font-size: 12px;
}

header .form__value-monney {

}

header #header__clock {
    padding: 0px 20px;
}
/* END: HEADER__NAV-RIGHT */

main .slider__container {
    margin-top: 3em;
    height: calc(100vh - 3em);
    background-image: url('https://scontent.fsgn12-1.fna.fbcdn.net/v/t1.6435-9/34398166_610468282631292_829635051334402048_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=9l2pGXm1IJYAX9AV6Ie&_nc_ht=scontent.fsgn12-1.fna&oh=79eece7d7cae2e63c64b478877ceab32&oe=60B166F1');
    background-repeat: no-repeat;
    background-size: cover;
}

/* BEGIN: NAV__MOBILE */
header .nav__mobile {

}

header .nav__mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;
}

header .nav__mobile div {
    background-color: #fff;
    width: 20px;
    height: 3px;
    margin: 2px 0px;
}

header .nav__mobile div:nth-child(2) {
    margin: 2px 0px;
    transition: margin .2s;
    
}

header .nav__mobile:hover div:nth-child(2) {
    margin: 4px 0px;
}